<html>
<head>
 <style>
a {top:0px;}
.bar-nav ~ .content {padding-top: 86px;}
.table-view {background-color: rgba(255, 255, 255, 0.87); }
</style>
</head>

<body>

<header class="bar bar-nav">
	<h1 class="title">Category</h1>
	 <a style="top:8px" class="icon icon-left-nav pull-left" id="back"></a>
</header>

<div class="bar bar-standard bar-header-secondary">
  <button class="btn btn-block" >Add preference</button>
</div>

<div class="content">


 <ul class="table-view">
         <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="img/ff7.jpg" width=64 heigth=64 >
			 <div class="media-body">
              Fast and furious 7
			  </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              Argo
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              Argo
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
      </ul>
   </div>

   
  </body>
</html>