<body>

<header class="bar bar-nav">
	<h1 class="title">Search</h1>
	 <a class="icon icon-left-nav pull-left"></a>
  </header>
  
  <div class="bar bar-standard bar-header-secondary">
	<nav class="bar bar-standard">
  		<div class="segmented-control">
    <a class="control-item active">Movies</a>
    <a class="control-item">Music</a>
    <a class="control-item">Books</a>
	<a class="control-item">Games</a>
	<a class="control-item">Series</a>
  </div>
  </div>
</nav>


 

<div class="content">

      <form class="content-padded">
        
        <input type="search" placeholder="Search">
        <button class="btn btn-positive btn-block">Search</button>
      </form>
    </div>
</body>