<nav id="menu" class="menu">
  <header class="menu-header">
    <span class="menu-header-title">Menu</span>
  </header>
  <section class="menu-section">
          <ul class="menu-section-list">
          <li id="account">
		  <a>Account</a>
		  </li>
          <li id="about">
		  <a>About</a>
		  </li>
          <li id="logout">
		  <a>Logout</a>
		  </li>
           </ul>
      </section>
</nav>
<main id="main" class="panel">
 <header class="bar bar-nav">
	<h1 class="title">Categories</h1>
    <img style="margin-top:8px" class="media-object pull-right" src="img/ttlogo.png" width="42" height="42">
    <a class="icon icon-bars pull-left" id="hamb"></a>
  </header>
 <div class="content" zz>
<div class="slider">
  <div class="slide-group">
    <div class="slide" id="searchmovies">
	<div class="card" style="background-color:#33CCFF">
      <button class="btn btn-block" style="border: 0px; background-color:#33CCFF; font-size: 20px; font-weight: 450; color: #fff;">Movies</button>
	  <img src="img/ff7.jpg">
       </div>
	</div>
    <div class="slide" id="searchgames">
	<div class="card" style="background-color:#33CCFF">
	<button class="btn btn-block" style="border: 0px; background-color:#33CCFF; font-size: 20px; font-weight: 450; color: #fff;">Games</button>
      <img src="img/vanquish.jpg" width=420 heigth= 589>
      </div>
	</div>
    <div class="slide" id="searchmusic">
	<div class="card" style="background-color:#33CCFF">
	<button class="btn btn-block" style="border: 0px; background-color:#33CCFF; font-size: 20px; font-weight: 450; color: #fff;">Music</button>
      <img src="img/qgh2.jpg" width=420 heigth= 589>
      </div>
	</div>
	<div class="slide" id="searchbooks">
	<div class="card" style="background-color:#33CCFF">
	<button class="btn btn-block" style="border: 0px; background-color:#33CCFF; font-size: 20px; font-weight: 450; color: #fff;">Books</button>
      <img src="img/ul.jpg" width=420 heigth= 589>
      </div>
	</div>
	<div class="slide" id="searchseries">
	<div class="card" style="background-color:#33CCFF">
	<button class="btn btn-block" style="border: 0px; background-color:#33CCFF; font-size: 20px; font-weight: 450; color: #fff;">Tv Series</button>
      <img src="img/ssg1.jpg" width=420 heigth= 589>
      </div>
	</div>
  </div>
</div>
</div>
</div>
</main>



  
  

