<html>

<body>

<header class="bar bar-nav">
	<h1 class="title">Welcome to TryThis!</h1>
	   
</header>


<div class="content">
<img class="center" src="img/ttlogo.png" width="210" height="210">

<button class="btn btn-primary btn-block" id="logfb">Login with Facebook</button>
<button class="btn btn-negative btn-block" id="logg+">Login with Google+</button>
<button class="btn btn-block" id='loginTT'>Login</button>
		
<div class="bar bar-standard bar-footer-secondary">
  	<button class="btn btn-positive btn-block btn-outlined" id='signin'>Sign in</button>
</div>

<div class="bar bar-standard bar-footer">
  <button class="btn btn-block" id='skip'>Skip</button>
</div>

</div>
</body>
</html>
 
