 <html>

 <body>
 
    <header class="bar bar-nav">
	<h1 class="title">Results</h1>
   <a class="icon icon-left-nav pull-left"></a>

   <span class="icon icon-search pull-right"></span>
  
</header>
 
 
<div class="content">
 <ul class="table-view">
        <li class="table-view-cell table-view-divider">Recommended movies</li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              Argo
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              Argo
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              Argo
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
      </ul>
   </div>

   
  </body>
</html>







