
<nav class="bar bar-tab">
  <a class="tab-item active" id="nav1">
    Nav1
  </a>
  <a class="tab-item" id="nav2">
    Nav2
  </a>
  <a class="tab-item" id="nav3">
    Nav3
  </a>
  <a class="tab-item" id="nav4">
    Nav4
  </a>
  <a class="tab-item" id="nav5">
    Nav5
  </a>
   <a class="tab-item" id="nav6">
    Nav6
  </a>
  <a class="tab-item" id="nav7">
    Nav7
  </a>
  <a class="tab-item" id="nav8">
    Nav8
  </a>
   <a class="tab-item" id="nav9">
    Nav9
  </a>
  <a class="tab-item" id="nav10">
    Nav10
  </a>
</nav>

<!-- non togliere assolutamente
</nav> -->
<div id="content" class="content">


