<header class="bar bar-nav">
	<h1 class="title">{{username}}</h1>
	 <a class="icon icon-home pull-right" id="home"></a>
</header>


<div class="content">
<img class="center" src="img/ttlogo.png" width="210" height="210">
<div class="card">
 <ul class="table-view">
       
        <li class="table-view-cell media">
          <a style="top:0px" class="navigate-right" id="movies">
             <div class="media-body">
              Movies
             </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a style="top:0px"class="navigate-right" id="games">
             <div class="media-body">
             Games
             </div>
          </a>
        </li>
		 <li class="table-view-cell media">
         <a style="top:0px" class="navigate-right" id="music">
             <div class="media-body">
              Music
             </div>
          </a>
        </li>
		 <li class="table-view-cell media">
         <a style="top:0px" class="navigate-right" id="books">
             <div class="media-body">
              Books
             </div>
          </a>
        </li>
		 <li class="table-view-cell media">
         <a style="top:0px" class="navigate-right" id="series">
             <div class="media-body">
              Tv series
             </div>
          </a>
        </li>
</div>
</div>
